# Windows
[Dd]esktop.ini
Thumbs.db
$RECYCLE.BIN/

# macOS
.DS_Store
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes

# Node.js
node_modules/

# 微信开发者工具配置
.project.config.json
.project.private.config.json

# 调试日志、缓存
logs/
dist/
*.log

# 上传包和其它临时文件
upload/

